#seed - SAME BETWEEN RUNS
seed: 1234

#data - SAME BETWEEN RUNS
dataset_dir: "/tmp/imagenet100/"
dataset: "ImageNet100"
num_classes: 100
emb_dim: 512

#distributed training - SAME BETWEEN RUNS
num_nodes: 1
gpus: 1
workers: 12
distributed_backend: "ddp"

###############################################

#Experiment Stuff - CHANGE BETWEEN RUNS
experiment_name: "sample_linear_probe"
checkpoint_path: "/path/to/contrastive_student.ckpt"

#Distortions and parameters - CHANGE BETWEEN RUNS
distortion: "randommask" #randommask/gaussiannoise/gaussianblur/squaremask
percent_missing: 0.9 #only for randommask - can be float from 0 to 1 for set number of missing pixels, or two floats for uniform range of missing pixels.
fixed_mask: False #can be set to true if fixed mask is desired

encoder: "clip"

#training
max_epochs: 10
lr: 0.001
batch_size: 8
use_subset: True #Use subset of the data to train linear probe.
subset_ratio: 0.1

#logging
log_save_interval: 25
row_log_interval: 1
logdir: "/tmp/Logs"

#validation
check_val_every_n_epoch: 1
